
<div class="title" style="text-align:center">
    <img height="10%" src="assets/logo.png">
</div>
<hr>
<div class="container">

    <div class="row">
        <div class="col-md-6">
            <div *ngFor='let quote of quotes; let i = index'>
                <div>
                    <p appHighLight *ngIf="highestUpvote()===quote.upvote && quote.upvote>0">{{quote.quote}}</p>
                    <p *ngIf="highestUpvote()!==quote.upvote || quote.upvote===0">" {{quote.quote}} "</p>
                    <button (click)='quoteLike(i)' class="btn btn-outline-success">Upvote {{quote.upvote}}</button>
                    <button (click)='quoteUnlike(i)' class="btn btn-outline-primary">Downvote
                        {{quote.downvote}}</button>
                    <button (click)='toggleDetails(i)' class="btn btn-outline-warning">Toggle Details</button>
                    <app-quote-content *ngIf='quote.showDescription' [quote]='quote' (isDelete)='deleteQuote($event, i)'>
                    </app-quote-content>
                    <hr>

                </div>
            </div>
        </div>
       <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
</div>