<div class="background">
<h1 style="text-align:center">QUOTES CORNER..</h1>
<h4 style="text-align:center">We provide you with quotes to cheer you up.You can also add yours.</h4>
<div class="container">
  <hr>
    <div class="row">
        <div class="col-md-6">
                 <div *ngFor='let quote of quotes; let i = index'>
                 <p appHighLight *ngIf="highestUpvote()===quote.upvote && quote.upvote>0">{{quote.quote}}</p>
                 <p *ngIf="highestUpvote()!==quote.upvote || quote.upvote===0">" {{quote.quote}} "</p>
                 <button (click)='toggleDetails(i)' class="btn btn-warning">Toggle Details</button>
                 <br>
                 <button (click)='quoteLike(i)' class="btn btn-success">Upvote {{quote.upvote}}</button>
                 <button (click)='quoteUnlike(i)' class="btn btn-primary">Downvote
                    {{quote.downvote}}</button>
                  
                  <br>
                    <div class="col-md-6">
                        <app-quote-content *ngIf='quote.showDescription'[quote]='quote' (isDelete)='deleteQuote($event, i)'>
                        </app-quote-content>
                        <hr>
                    </div>
            </div>
        </div>
       <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
</div>

<div>
</div>