<div class="container-fluid">
  <h4 class="text-center">Writing Famous Quotes by famous or ordinary people</h4>
  <hr>
   <h5 class="text-center">Feel free to add Quotes..</h5>
  <form>
      <div class="form-group">

          <label for="name">Write your name:</label>
          <input type="text" required class="form-control" id="name">

      </div>
      <div class="form-group">

          <label for="aname"> Write the authors:</label>
          <br>
          <input type="text" required class="form-control" id="aname">

      </div>
      <div class="form-group">

          <label for="quote">Write the Quote..</label>
          <textarea class="form-control" id="description" rows="4" required></textarea>

      </div>
      <div class="form-group">
          <label for="complete">Pick the date today:</label>
          <input type='date' id="complete" required>
      </div>
  </form>
</div>